<!DOCTYPE html>
<html lang="en-US" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:th="http://www.thymeleaf.org " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>MODIFICAR WORKSHOP</title>
</head>
<body>
<h1>MODIFICAR WORKSHOP</h1>

<form action="#" th:action="@{/cambioWorkshop/{id}(id=${id})}" th:object="${workshop}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}" id="nombre">
    <br>

    <label for="autor">Autor</label>
    <select id="autor" th:field="*{autor}">
        <option  value="Pepito">Pepito</option>
       <option value="Juanito">Juanito</option>
       <option value="Carlitos">Carlitos</option>
       <option value="Agapito">Agapito</option>
    </select>
    <br>
    <label for="objetivo">Objetivo</label>
    <input type="text" th:field="*{objetivo}" id="objetivo">

    <br>
    <label for="categoria">Categoria</label>
    <select id="categoria"  th:field="*{categoria}" >
        <option th:each=" categoria : ${categoria}"   th:value="${categoria.nombre}" th:text="${categoria.nombre}"></option>
    </select> <!--llenar categorias con el listar de las mismas-->

    <br>

    <label for="keyword">Palabra clave</label>
    <input type="text" th:field="*{keyword}" id="keyword">


    <input type="submit" value="modificar taller">
</form>

</body>
</html>